<h2>Les huit portes</h2>

<table>
    <thead>
        <tr>
            <th>Chinous simplifié</th>
            <th>Prononciation</th>
            <th>Français</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>掤</td>
            <td>
                <a href="audio/掤.m4a">péng</a>
                <br/>
                <audio controls>
                    <source src="audio/掤.m4a">
                </audio>
            </td>
            <td>parer</td>
        </tr>
        <tr>
            <td>捋</td>
            <td>
                <a href="audio/捋.m4a">lǚ</a>
                <br/>
                <audio controls>
                    <source src="audio/捋.m4a">
                </audio>
            </td>
            <td>tirer</td>
        </tr>
        <tr>
            <td>挤</td>
            <td>
                <a href="audio/挤.m4a">jǐ</a>
                <br/>
                <audio controls>
                    <source src="audio/挤.m4a">
                </audio>
            </td>
            <td>presser</td>
        </tr>
        <tr>
            <td>按</td>
            <td>
                <a href="audio/按.m4a">àn</a>
                <br/>
                <audio controls>
                    <source src="audio/按.m4a">
                </audio>
            </td>
            <td>appuyer</td>
        </tr>
        <tr>
            <td>采</td>
            <td>
                <a href="audio/采.m4a">cǎi</a>
                <br/>
                <audio controls>
                    <source src="audio/采.m4a">
                </audio>
            </td>
            <td>cueillir</td>
        </tr>
        <tr>
            <td>挒</td>
            <td>
                <a href="audio/挒.m4a">liè</a>
                <br/>
                <audio controls>
                    <source src="audio/挒.m4a">
                </audio>
            </td>
            <td>séparer</td>
        </tr>
        <tr>
            <td>肘</td>
            <td>
                <a href="audio/肘.m4a">zhǒu</a>
                <br/>
                <audio controls>
                    <source src="audio/肘.m4a">
                </audio>
            </td>
            <td>donner un coup de coude</td>
        </tr>
        <tr>
            <td>靠</td>
            <td>
                <a href="audio/靠.m4a">kào</a>
                <br/>
                <audio controls>
                    <source src="audio/靠.m4a">
                </audio>
            </td>
            <td>heurter</td>
        </tr>
    </tbody>
</table>