<h2>Les huit portes</h2>

<table>
    <thead>
        <tr>
            <th>Chinois simplifié</th>
            <th>Pinyin</th>
            <th>Prononciation</th>
            <th>Français</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>掤</td>
            <td>péng</td>
            <td><audio controls><source src="audio/掤.m4a"></audio></td>
            <td>parer</td>
        </tr>
        <tr>
            <td>捋</td>
            <td>lǚ</td>
            <td><audio controls><source src="audio/捋.m4a"></audio></td>
            <td>tirer</td>
        </tr>
        <tr>
            <td>挤</td>
            <td>jǐ</td>
            <td><audio controls><source src="audio/挤.m4a"></audio></td>
            <td>presser</td>
        </tr>
        <tr>
            <td>按</td>
            <td>àn</td>
            <td><audio controls><source src="audio/按.m4a"></audio></td>
            <td>appuyer</td>
        </tr>
        <tr>
            <td>采</td>
            <td>cǎi</td>
            <td><audio controls><source src="audio/采.m4a"></audio></td>
            <td>cueillir</td>
        </tr>
        <tr>
            <td>挒</td>
            <td>liè</td>
            <td><audio controls><source src="audio/挒.m4a"></audio></td>
            <td>séparer</td>
        </tr>
        <tr>
            <td>肘</td>
            <td>zhǒu</td>
            <td><audio controls><source src="audio/肘.m4a"></audio></td>
            <td>donner un coup de coude</td>
        </tr>
        <tr>
            <td>靠</td>
            <td>kào</td>
            <td><audio controls><source src="audio/靠.m4a"></audio></td>
            <td>heurter</td>
        </tr>
    </tbody>
</table>
<h2>À classer</h2>

<table>
    <thead>
        <tr>
            <th>Chinois simplifié</th>
            <th>Pinyin</th>
            <th>Prononciation</th>
            <th>Français</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>太极拳</td>
            <td>tàijíquán</td>
            <td><audio controls><source src="audio/太极拳.m4a"></audio></td>
            <td>—</td>
        </tr>
        <tr>
            <td>推手</td>
            <td>tuīshǒu</td>
            <td><audio controls><source src="audio/推手.m4a"></audio></td>
            <td>pousser les mains</td>
        </tr>
        <tr>
            <td>丹田</td>
            <td>dāntián</td>
            <td><audio controls><source src="audio/丹田.m4a"></audio></td>
            <td>champ du cinabre</td>
        </tr>
        <tr>
            <td>气</td>
            <td>qì</td>
            <td><audio controls><source src="audio/气.m4a"></audio></td>
            <td>souffle</td>
        </tr>
    </tbody>
</table>