<h2>Les huit portes</h2>
<table>
    <thead>
        <tr>
            <th>Chinois simplifié</th>
            <th>Pinyin</th>
            <th>Prononciation</th>
            <th>Français</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>掤</td>
            <td>péng</td>
            <td><audio controls><source src="audio/掤.m4a"></audio></td>
            <td>parer</td>
        </tr>
        <tr>
            <td>捋</td>
            <td>lǚ</td>
            <td><audio controls><source src="audio/捋.m4a"></audio></td>
            <td>tirer</td>
        </tr>
        <tr>
            <td>挤</td>
            <td>jǐ</td>
            <td><audio controls><source src="audio/挤.m4a"></audio></td>
            <td>presser</td>
        </tr>
        <tr>
            <td>按</td>
            <td>àn</td>
            <td><audio controls><source src="audio/按.m4a"></audio></td>
            <td>appuyer</td>
        </tr>
        <tr>
            <td>采</td>
            <td>cǎi</td>
            <td><audio controls><source src="audio/采.m4a"></audio></td>
            <td>cueillir</td>
        </tr>
        <tr>
            <td>挒</td>
            <td>liè</td>
            <td><audio controls><source src="audio/挒.m4a"></audio></td>
            <td>séparer</td>
        </tr>
        <tr>
            <td>肘</td>
            <td>zhǒu</td>
            <td><audio controls><source src="audio/肘.m4a"></audio></td>
            <td>donner un coup de coude</td>
        </tr>
        <tr>
            <td>靠</td>
            <td>kào</td>
            <td><audio controls><source src="audio/靠.m4a"></audio></td>
            <td>heurter</td>
        </tr>
    </tbody>
</table>
<h2>Points d'acupuncture</h2>
<table>
    <thead>
        <tr>
            <th>Chinois simplifié</th>
            <th>Pinyin</th>
            <th>Prononciation</th>
            <th>Français</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>百会</td>
            <td>bǎi huì</td>
            <td><audio controls><source src="audio/百会.m4a"></audio></td>
            <td>cent + réunion</td>
        </tr>
        <tr>
            <td>大包</td>
            <td>dà bāo </td>
            <td><audio controls><source src="audio/大包.m4a"></audio></td>
            <td>grand + enveloppe</td>
        </tr>
        <tr>
            <td>会阴</td>
            <td>huì yīn </td>
            <td><audio controls><source src="audio/会阴.m4a"></audio></td>
            <td>réunion + yin</td>
        </tr>
        <tr>
            <td>劳宫</td>
            <td>láo gōng </td>
            <td><audio controls><source src="audio/劳宫.m4a"></audio></td>
            <td>labeur + palais</td>
        </tr>
        <tr>
            <td>命门</td>
            <td>mìng mén </td>
            <td><audio controls><source src="audio/命门.m4a"></audio></td>
            <td>vie + porte</td>
        </tr>
        <tr>
            <td>印堂</td>
            <td>yìn táng </td>
            <td><audio controls><source src="audio/印堂.m4a"></audio></td>
            <td>impression + hall</td>
        </tr>
        <tr>
            <td>涌泉</td>
            <td>yǒng quán </td>
            <td><audio controls><source src="audio/涌泉.m4a"></audio></td>
            <td>jaillir + source</td>
        </tr>
        <tr>
            <td>玉枕</td>
            <td>yù zhěn </td>
            <td><audio controls><source src="audio/玉枕.m4a"></audio></td>
            <td>jade + oreiller</td>
        </tr>
        <tr>
            <td>丹田</td>
            <td>dāntián</td>
            <td><audio controls><source src="audio/丹田.m4a"></audio></td>
            <td>cinabre + champ</td>
        </tr>
    </tbody>
</table>
<h2>Positions de base</h2>
<table>
    <thead>
        <tr>
            <th>Chinois simplifié</th>
            <th>Pinyin</th>
            <th>Prononciation</th>
            <th>Français</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>马步</td>
            <td>mǎ bù</td>
            <td><audio controls><source src="audio/马步.m4a"></audio></td>
            <td>cheval + pas</td>
        </tr>
        <tr>
            <td>弓步</td>
            <td>gōng bù</td>
            <td><audio controls><source src="audio/弓步.m4a"></audio></td>
            <td>arc + pas</td>
        </tr>
        <tr>
            <td>歇步</td>
            <td>xiē bù</td>
            <td><audio controls><source src="audio/歇步.m4a"></audio></td>
            <td>repos + pas</td>
        </tr>
        <tr>
            <td>仆步</td>
            <td>pú bù</td>
            <td><audio controls><source src="audio/仆步.m4a"></audio></td>
            <td>s'écrouler + pas</td>
        </tr>
        <tr>
            <td>虚步</td>
            <td>xū bù</td>
            <td><audio controls><source src="audio/虚步.m4a"></audio></td>
            <td>vide + pas</td>
        </tr>
        <tr>
            <td>丁步</td>
            <td>dīng bù</td>
            <td><audio controls><source src="audio/丁步.m4a"></audio></td>
            <td>[en forme de 丁] + pas</td>
        </tr>
    </tbody>
</table>
<h2>TODO</h2>
<table>
    <thead>
        <tr>
            <th>Chinois simplifié</th>
            <th>Pinyin</th>
            <th>Prononciation</th>
            <th>Français</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>太极拳</td>
            <td>tàijíquán</td>
            <td><audio controls><source src="audio/太极拳.m4a"></audio></td>
            <td>suprême + faîte + boxe</td>
        </tr>
        <tr>
            <td>推手</td>
            <td>tuīshǒu</td>
            <td><audio controls><source src="audio/推手.m4a"></audio></td>
            <td>pousser + main</td>
        </tr>
        <tr>
            <td>气</td>
            <td>qì</td>
            <td><audio controls><source src="audio/气.m4a"></audio></td>
            <td>souffle</td>
        </tr>
        <tr>
            <td>飞跃</td>
            <td>fēiyuè</td>
            <td><audio controls><source src="audio/飞跃.m4a"></audio></td>
            <td>sauter + voler</td>
        </tr>
        <tr>
            <td>老架一路</td>
            <td>lǎojià yīlù</td>
            <td><audio controls><source src="audio/老架一路.m4a"></audio></td>
            <td>ancien + forme + 1 + route</td>
        </tr>
    </tbody>
</table>
<h2>Personnages</h2>
<table>
    <thead>
        <tr>
            <th>Chinois simplifié</th>
            <th>Pinyin</th>
            <th>Prononciation</th>
            <th>Français</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>王西安</td>
            <td>Wáng Xī'ān</td>
            <td><audio controls><source src="audio/王西安.m4a"></audio></td>
            <td>Maître de la 19e génération du style Chen</td>
        </tr>
        <tr>
            <td>陈氏</td>
            <td>Chén shì</td>
            <td><audio controls><source src="audio/陈氏.m4a"></audio></td>
            <td>[nom de famille] + clan</td>
        </tr>
    </tbody>
</table>
<h2>Postures de la 老架一路</h2>
<table>
    <thead>
        <tr>
            <th>Chinois simplifié</th>
            <th>Pinyin</th>
            <th>Prononciation</th>
            <th>Français</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>抱头推山</td>
            <td>bào tóu tuī shān</td>
            <td><audio controls><source src="audio/抱头推山.m4a"></audio></td>
            <td>Embrasser la tête et repousser la montagne</td>
        </tr>
        <tr>
            <td>白鹤亮翅</td>
            <td>bái hè liàng chì</td>
            <td><audio controls><source src="audio/白鹤亮翅.m4a"></audio></td>
            <td>La grue blanche déploie ses ailes</td>
        </tr>
        <tr>
            <td>白鹤亮翅</td>
            <td>bái hè làng chì</td>
            <td><audio controls><source src="audio/白鹤亮翅.m4a"></audio></td>
            <td>La grue blanche déploie ses ailes</td>
        </tr>
        <tr>
            <td>摆脚跌叉</td>
            <td>bǎi jiǎo diē chā</td>
            <td><audio controls><source src="audio/摆脚跌叉.m4a"></audio></td>
            <td>Balancer le pied et tomber avec les pieds en fourche</td>
        </tr>
        <tr>
            <td>倒卷肱</td>
            <td>dào juǎn gōng</td>
            <td><audio controls><source src="audio/倒卷肱.m4a"></audio></td>
            <td>Enrouler les bras sur l'arrière</td>
        </tr>
        <tr>
            <td>单鞭</td>
            <td>dān biān</td>
            <td><audio controls><source src="audio/单鞭.m4a"></audio></td>
            <td>Simple fouet</td>
        </tr>
        <tr>
            <td>当头炮</td>
            <td>dāng tóu pào</td>
            <td><audio controls><source src="audio/当头炮.m4a"></audio></td>
            <td>Canon en avant</td>
        </tr>
        <tr>
            <td>高探马</td>
            <td>gāo tàn mǎ</td>
            <td><audio controls><source src="audio/高探马.m4a"></audio></td>
            <td>Flatter l'encolure du cheval</td>
        </tr>
        <tr>
            <td>后招</td>
            <td>hòu zhāo</td>
            <td><audio controls><source src="audio/后招.m4a"></audio></td>
            <td>Tour en arrière</td>
        </tr>
        <tr>
            <td>护心拳</td>
            <td>hù xīn quán</td>
            <td><audio controls><source src="audio/护心拳.m4a"></audio></td>
            <td>Le poing protège le coeur</td>
        </tr>
        <tr>
            <td>击地捶</td>
            <td>jī dì chuí</td>
            <td><audio controls><source src="audio/击地捶.m4a"></audio></td>
            <td>Coup de poing vers le sol</td>
        </tr>
        <tr>
            <td>金刚捣碓</td>
            <td>jīn gāng dǎo duì</td>
            <td><audio controls><source src="audio/金刚捣碓.m4a"></audio></td>
            <td>Le gardien céleste pile le mortier</td>
        </tr>
        <tr>
            <td>六封四闭</td>
            <td>liù fēng sì bì</td>
            <td><audio controls><source src="audio/六封四闭.m4a"></audio></td>
            <td>Six verrouillages et quatre fermetures</td>
        </tr>
        <tr>
            <td>懒扎衣</td>
            <td>lǎn zhā yī</td>
            <td><audio controls><source src="audio/懒扎衣.m4a"></audio></td>
            <td>Attacher le pan du vêtement avec indolence</td>
        </tr>
        <tr>
            <td>搂膝</td>
            <td>lǒu xī</td>
            <td><audio controls><source src="audio/搂膝.m4a"></audio></td>
            <td>Envelopper le genou</td>
        </tr>
        <tr>
            <td>披身捶</td>
            <td>pī shēn chuí</td>
            <td><audio controls><source src="audio/披身捶.m4a"></audio></td>
            <td>Draper le corps avec les poings</td>
        </tr>
        <tr>
            <td>前趟拗步</td>
            <td>qián tàng ào bù</td>
            <td><audio controls><source src="audio/前趟拗步.m4a"></audio></td>
            <td>Avancer sur trois pas à contre hanche</td>
        </tr>
        <tr>
            <td>前招</td>
            <td>qián zhāo</td>
            <td><audio controls><source src="audio/前招.m4a"></audio></td>
            <td>Tour en avant</td>
        </tr>
        <tr>
            <td>雀地龙</td>
            <td>què dì lóng</td>
            <td><audio controls><source src="audio/雀地龙.m4a"></audio></td>
            <td>Le dragon se soulève</td>
        </tr>
        <tr>
            <td>青龙出水</td>
            <td>qīng lóng chū shuǐ</td>
            <td><audio controls><source src="audio/青龙出水.m4a"></audio></td>
            <td>Le dragon vert émerge de l'eau</td>
        </tr>
        <tr>
            <td>双摆莲</td>
            <td>shuāng bǎi lián</td>
            <td><audio controls><source src="audio/双摆莲.m4a"></audio></td>
            <td>Balayer le lotus deux fois</td>
        </tr>
        <tr>
            <td>双推手</td>
            <td>shuāng tuī shǒu</td>
            <td><audio controls><source src="audio/双推手.m4a"></audio></td>
            <td>Pousser des deux mains</td>
        </tr>
        <tr>
            <td>上步七星</td>
            <td>shàng bù qī xīng</td>
            <td><audio controls><source src="audio/上步七星.m4a"></audio></td>
            <td>Avancer et former les 7 étoiles</td>
        </tr>
        <tr>
            <td>十字脚</td>
            <td>shí zì jiǎo</td>
            <td><audio controls><source src="audio/十字脚.m4a"></audio></td>
            <td>Croiser les pieds et balayer le lotus</td>
        </tr>
        <tr>
            <td>收势</td>
            <td>shōu shì</td>
            <td><audio controls><source src="audio/收势.m4a"></audio></td>
            <td>Fermeture</td>
        </tr>
        <tr>
            <td>闪通背</td>
            <td>shǎn tōng bèi</td>
            <td><audio controls><source src="audio/闪通背.m4a"></audio></td>
            <td>Éclair dans le dos</td>
        </tr>
        <tr>
            <td>太极起势</td>
            <td>tài jí qǐ shì</td>
            <td><audio controls><source src="audio/太极起势.m4a"></audio></td>
            <td>Ouverture</td>
        </tr>
        <tr>
            <td>踢二起</td>
            <td>tī èr qǐ</td>
            <td><audio controls><source src="audio/踢二起.m4a"></audio></td>
            <td>Double coup de pied sauté</td>
        </tr>
        <tr>
            <td>下步跨虎</td>
            <td>xià bù kuà hǔ</td>
            <td><audio controls><source src="audio/下步跨虎.m4a"></audio></td>
            <td>Reculer et chevaucher le tigre</td>
        </tr>
        <tr>
            <td>斜行</td>
            <td>xié xíng</td>
            <td><audio controls><source src="audio/斜行.m4a"></audio></td>
            <td>Marche en oblique</td>
        </tr>
        <tr>
            <td>小擒打</td>
            <td>xiǎo qín dǎ</td>
            <td><audio controls><source src="audio/小擒打.m4a"></audio></td>
            <td>Petite saisie et frappe</td>
        </tr>
        <tr>
            <td>旋风脚</td>
            <td>xuànfēng jiǎo</td>
            <td><audio controls><source src="audio/旋风脚.m4a"></audio></td>
            <td>Coup de pied cyclone</td>
        </tr>
        <tr>
            <td>猿猴探果</td>
            <td>yuán hóu tàn guǒ</td>
            <td><audio controls><source src="audio/猿猴探果.m4a"></audio></td>
            <td>Le singe offre un fruit</td>
        </tr>
        <tr>
            <td>右擦脚</td>
            <td>yòu cā jiǎo</td>
            <td><audio controls><source src="audio/右擦脚.m4a"></audio></td>
            <td>Frapper le pied droit</td>
        </tr>
        <tr>
            <td>右蹬一跟</td>
            <td>yòu dēng yī gēn</td>
            <td><audio controls><source src="audio/右蹬一跟.m4a"></audio></td>
            <td>Frapper avec le talon droit</td>
        </tr>
        <tr>
            <td>预备势</td>
            <td>yù bèi shì</td>
            <td><audio controls><source src="audio/预备势.m4a"></audio></td>
            <td>Préparation</td>
        </tr>
        <tr>
            <td>玉女穿梭</td>
            <td>yù nǚ chuān suō</td>
            <td><audio controls><source src="audio/玉女穿梭.m4a"></audio></td>
            <td>La fille de jade tisse et lance la navette</td>
        </tr>
        <tr>
            <td>云手</td>
            <td>yún shǒu</td>
            <td><audio controls><source src="audio/云手.m4a"></audio></td>
            <td>Mouvoir les mains comme des nuages</td>
        </tr>
        <tr>
            <td>野马分鬃</td>
            <td>yě mǎ fēn zōng</td>
            <td><audio controls><source src="audio/野马分鬃.m4a"></audio></td>
            <td>Séparer la crinière du cheval</td>
        </tr>
        <tr>
            <td>掩手肱拳</td>
            <td>yǎn shǒu gōng quán</td>
            <td><audio controls><source src="audio/掩手肱拳.m4a"></audio></td>
            <td>Coup de poing couvert par la main</td>
        </tr>
        <tr>
            <td>指裆捶</td>
            <td>zhǐ dāng chuí</td>
            <td><audio controls><source src="audio/指裆捶.m4a"></audio></td>
            <td>Coup dans l'entrecuisse</td>
        </tr>
        <tr>
            <td>肘底看拳</td>
            <td>zhǒu dǐ kān quán</td>
            <td><audio controls><source src="audio/肘底看拳.m4a"></audio></td>
            <td>Le poing sous le coude</td>
        </tr>
        <tr>
            <td>左擦脚</td>
            <td>zuǒ cā jiǎo</td>
            <td><audio controls><source src="audio/左擦脚.m4a"></audio></td>
            <td>Frapper le pied gauche</td>
        </tr>
        <tr>
            <td>左蹬一跟</td>
            <td>zuǒ dēng yī gēn</td>
            <td><audio controls><source src="audio/左蹬一跟.m4a"></audio></td>
            <td>Coup de talon gauche</td>
        </tr>
        <tr>
            <td>左右金鸡独立</td>
            <td>zuǒ yòu jīn jī dú lì</td>
            <td><audio controls><source src="audio/左右金鸡独立.m4a"></audio></td>
            <td>Le coq d'or se tient sur une patte, à gauche, puis à droite</td>
        </tr>
        <tr>
            <td>拗步</td>
            <td>ǎo bù</td>
            <td><audio controls><source src="audio/拗步.m4a"></audio></td>
            <td>Pas en avant</td>
        </tr>
    </tbody>
</table>